<main class="mainArea">

    <div class="curLocation leftSide">
        <div class="genInfo">
            {{#if err}}
            <h2>{{err}}</h2>
            {{/if}}

            {{#if listExists}}
            <div class="curLocationTitle">
                <h1>{{name}}</h1>
            </div>
            {{#each data1}}
            <h2 class="curDegree">{{this}}</h2>
            {{/each}}
            {{/if}}
        </div>

        <div class="extraInfo">
            <h3 class="windSpeed">WIND SPEED: {{data2.wind}}</h3>
            <h3 class="sunrise">Sunrise: {{data2.sunrise}}</h3>
            <h3 class="sunset">Sunset: {{data2.sunset}}</h3>
        </div>
    </div>

    <div class="middle">
        <p class="logoType">whatevertheweather</p>
        <div class="try"></div>
    </div>

    <div class="rightSide">

        <div class="favLocationTitle">Your Locations</div>
        <div class="yourLocations">
            <button class="favLocation" onclick="location.href='./weather?city=istanbul&code=tr'">IST</button>
            <button class="favLocation" onclick="location.href='./weather?city=manchester&code=gb'">MAN</button>
            <button class="favLocation" onclick="location.href='./weather?city=buenos+aires&code=ar'">BUE</button>
            <button class="favLocation" onclick="location.href='./weather?city=new+york&code=us'">NYC</button>
            <button class="favLocation" onclick="location.href='./weather?city=moscow&code=ru'">MCO</button>
            <button class="favLocation" onclick="location.href='./weather?city=nairobi&code=ke'">KEN</button>
        </div>

        <div class="searchBar">
            <form method="GET" action="/weather" class="searchForm">
                <label for="searchArea" class="searchBarTitle">City Name:</label>
                <input type="text" class="searchBarArea" name="city">

                <label for="code">Country Code: </label>
                <input type="text" class="searchBarArea" name="code"></br>

                <input type="submit" class="submitBtn" value="submit">
            </form>
        </div>


    </div>
</main>

{{!--


<h2 class="curDegree">{{data.temp}}</h2>
<h2 class="curStatus">{{data.description}}</h2>
<h2 class="curAdvice">{{data.feels_like}}</h2>
</div> --}}